@page
@model A1.Pages.Cardapio.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItensCardapio[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItensCardapio[0].PrecoBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItensCardapio[0].Periodo)
            </th>
            <th>
                Ingredientes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ItensCardapio)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecoBase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Periodo)
                </td>
                <td>
                    @if (item.Ingredientes != null && item.Ingredientes.Any())
                    {
                        // Transforma a lista de ingredientes em um texto separado por vírgulas
                        @string.Join(", ", item.Ingredientes.Select(ing => ing.Nome))
                    }
                    else
                    {
                        <span>Nenhum</span>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
